// Primary color
// $gradient: rgb(255, 163, 153) to hsl(335, 100%, 65%);
$gradient: rgb(255, 163, 153) to rgb(255, 77, 151);

// Neutrals
$paleBlue: hsl(243, 100%, 93%);
$grayBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);

$defaultFontStyle: 'Raleway', sans-serif;
$defaultFontSize: 14px;
$normalWeight: 400;
$boldWeight: 700;